@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0
}
li{
  list-style: none;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height:100px;
    background: linear-gradient(to top, #FFD700, transparent);
    z-index: 10000;
  }
  section:after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;

    z-index: 10000;
    mix-blend-mode: color;
  }
section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
#text{
  position: relative;
  z-index: 1;
  color: rgba(255,255, 255, 0);
  font-size: 10em;
  background-image: url(../img/flag.jpeg);
  background-size:cover;
  -webkit-background-clip: text;
  background-position: 0 30%;
  animation: wave linear 16s infinite;
}
@keyframes wave {
  from{
    background-position: left 0 top 30%
  }
  to{
    background-position: left -790px top 30%
  }
}
#road{
  z-index: 2;
}
#bg{
  width: 150%;
  height: 150%;
  left:0;
}

.slider{
  width: 600px;
  height: 400px;
  border: none;
  overflow: hidden;
  margin-left: 40px;
}

.container{
  width: 100%;
  height: 1500px;
  background: linear-gradient(to bottom, #FFD700, transparent);
  padding-top: 100px;
  }

.main{
  display: flex;
  margin-top: 15%;
  justify-content: space-between;
}

.block-menu{
    width: 250px;
    height:480px;
    margin-left: 10%;
    }

.side-menu{
  width: 100%;
  height: 40px;
  background-color: blue;
  margin-bottom: 10px;
  border-radius: 12px;
  text-align: center;
  padding-top: 25px;
  opacity: 0;
  transform: translate(-120%, 0);
  transition: all .4s;
}

.submenu{
  opacity: 0;
  position: relative;
  left: 260px;
  top: -40px;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 1s
}

.submenu li{
height: 40px;
width:140px;
background-color: #3399ff;
margin-bottom: 10px
}

#burger:hover .submenu{
opacity: 1;
transform: scaleY(1);
}

.article-list{
  position: relative;
  display: inline-flex;
  display: block;
  width: 700px;
  margin-right: 60px;
}

.small-article{
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: 0 0 15px 10px white;
  background-color: white;
}

.small-article::after{
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  top: 95%;
  background-color: blue
}

.small-article h2{
  width: 100%;
  color: blue;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.article-description img{
  width: 100%;
}

.article-description{
  display: none;
}

.article-btn{
  width: 60px;
  height: 30px;
  background-color: blue;
  color: white;
  border: none
}

.side-menu._active{
  opacity: 1;
  transform: translate(0, 0);
}

.new-article{
  width: 90%;
  height: 200px;
  align-content: center;
  margin-left: 80px;
}

.some-article{
  display: inline-flex;
  justify-content: space-between;
}

.some-article button{
height: 80px;
width: 150px;
border-radius: 0;
background-color: green;
margin-left: 20px;
}

#ex{
  width: 900px;
  height: 35px;
  border-radius: 0;
  margin-bottom: 15px;
}

.article-text{
  width: 700px;
  height: 80px;
  border-radius: 0;
}

.middle{
  left: 50%;
  position: relative;
  transform: translate(-50%);
  width: 700px;
  justify-content: space-between;
  display: block;
  }

.slide-btn{
  position: absolute;
  width: 30px;
  height: 50px;
  display: inline-flex;
  top:50%;
  transform: translate(0, -50%);
  background: transparent
}
.slide-btn img{
  width: 30px;
  height: 50px;
  background: white;
  border: 0;
  transform: rotate(180deg);
  cursor: pointer;
  background-color: transparent
}

#right-btn{
  position: absolute;
  display: inline-flex;
  left: 95%;
}

.navigation{
  display: flex;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.bar{
  height: 8px;
  width: 16px;
  opacity: .5;
  background-color: grey;
  margin: 6px;
  cursor: pointer;
  transition:all .5s ease;
}

.bar:hover{
  opacity: 1;
  transform: scale(1.2);
}
.active{
  background-color: black;
  opacity: 1
}
input[name="r"]{
  position: absolute;
  visibility: hidden;
}

.slides{
  width: 400%;
  height: 100%;
  display: flex;
}

.slide{
  width: 25%;
  transition:all .8s ease;
}

.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked~.s1{
  margin-left: 0;
}

#r2:checked~.s1{
  margin-left: -25%;
}
#r3:checked~.s1{
  margin-left: -50%;
}
#r4:checked~.s1{
  margin-left: -75%;
}

.enterfirience{
  width: 800px;
  height: 600px;
  display: inline-flex;
  margin-left: 40%;
  transform: translate(-30%);
}

.enterfirience h2{
  position: absolute;
  top:0;
  left: 25%;
  z-index: 4
}

#wavereborn{
  margin-left: 20px;
  height: 600px;
  width:150px;
}

#wavereborn img{
  position: relative;
  top: 310px;
  width: 120px;
  margin-bottom: -180px;
  z-index: 3;
  transition: 1s
}

.top{
  position: relative;
  width:100px;
  height: 45px;
  border-radius: 100px/30px;
  top:470px;
  border: black 2px solid;
  background: linear-gradient(to right, #DAA520	, #8B4513);
  margin-bottom: -55px;
  z-index: 2;
  transition: 1s
}

.bottom{
  position: relative;
  width: 90px;
  height: 50px;
  border-radius: 90px/30px;
  background: linear-gradient(to right, #DAA520	, #8B4513);
  margin-left: 5px;
  top: 500px;
  z-index: 1;
  transition: 1s
}
#wavereborn:hover .top{
  top: 400px;
}
#wavereborn:hover .bottom{
  top: 430px;
  height: 120px
}
#wavereborn:hover img{
  top: 240px;
}

#tshevchenko{
  margin-left: 20px;
  height: 600px;
  width:150px;
}

#tshevchenko img{
  position: relative;
  top: 310px;
  width: 60px;
  margin-left: 20px;
  margin-bottom: -180px;
  z-index: 3;
  transition: 1s
}

#tshevchenko:hover .top{
  top: 360px;
}
#tshevchenko:hover .bottom{
  top: 380px;
  height: 170px
}
#tshevchenko:hover img{
  top: 200px;
}

#ridna{
  margin-left: 20px;
  height: 600px;
  width:150px;
}

#ridna img{
  position: relative;
  top: 284px;
  width: 120px;
  margin-left: -5px;
  margin-bottom: -210px;
  z-index: 3;
  transition: 1s
}

#ridna:hover .top{
  top: 190px;
}
#ridna:hover .bottom{
  top: 200px;
  height: 350px
}
#ridna:hover img{
  top: 0px;
}

#independence{
  margin-left: 20px;
  height: 600px;
  width:150px;
}

#independence img{
  position: relative;
  top: 244px;
  width: 100px;
  margin-left: 3px;
  margin-bottom: -250px;
  z-index: 3;
  transition: 1s
}

#independence:hover .top{
  top: 250px;
}
#independence:hover .bottom{
  top: 260px;
  height: 290px
}
#independence:hover img{
  top: 20px;
}

#greate{
  margin-left: 20px;
  height: 600px;
  width:150px;
}

#greate img{
  position: relative;
  top: 244px;
  width: 100px;
  margin-left: 0px;
  margin-bottom: -250px;
  z-index: 3;
  transition: 1s
}

#greate:hover .top{
  top: 360px;
}
#greate:hover .bottom{
  top: 380px;
  height: 170px
}
#greate:hover img{
  top: 130px;
}
